<li>
	{{burger_name}}

	{{!-- <button class="devour" data-id="{{this.id}}">DEVOUR IT!</button> --}}
	<button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}DEVOUR IT!{{else}}MAKE IT AGAIN!{{/if}}
	</button>
	{{!-- conditional to remove button if devoured is true --}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
